.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 800px;
  height: 300px;
  border: 1px dashed #004eae;
}

.drop-message {
  text-align: center;
  color: #004eae;
  font-family: Arial;
  font-size: 20px;
}

.hiddenElement {
  display: none;
}
