body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Noto Sans KR Light';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR Regular';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/NotoSansKR-Regular.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR Medium';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR Bold';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/NotoSansKR-Bold.otf") format('truetype')
}